/* Reset básico e estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 
 
 
 body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
 }
 
 
 
 
 .container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    justify-content: center;
 }
 
 
 
 
 header {
    background-color: #06075f;
    color: #fff;
    padding: 10px 0;
 }
 
 
 
 
 header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 
 
 
 
 header nav ul {
    list-style-type: none;
    display: flex;
 }
 
 
 
 
 header nav ul li {
    margin-right: 20px;
 }
 
 
 
 
 header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
 }
 
 
 
 
 header nav ul li a:hover {
    color: #e4dede;
 }
 
 
 
 
 main {
    padding: 20px 0;
 }
 
 
 
 
 .content {
    margin-bottom: 40px;
 }
 
 
 
 
 .content h2 {
    font-size: 2em;
    margin-bottom: 10px;
 }
 
 
 
 
 .content p {
    color: #000000;
 }
 
 
 
 
 .content ul {
    list-style-type: disc;
    margin-left: 20px;
 }
 
 
 
 
 .carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
 }
 
 
 
 
 .carousel img {
    width: 100%;
    scroll-snap-align: center;
 }
 
 
 
 
 section#contato form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(219, 56, 56, 0.1);
 }
 
 
 
 
 section#contato form .form-group {
    margin-bottom: 10px;
 }
 
 
 
 
 section#contato form label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
 }
 
 
 
 
 section#contato form input[type="text"],
 section#contato form input[type="email"],
 section#contato form textarea {
    width: 100%;
    padding: 8px;
    font-size: 1em;
    border: 1px solid #e22f2f;
    border-radius: 3px;
 }
 
 
 
 
 section#contato form textarea {
    resize: vertical;
 }
 
 
 
 
 section#contato form button {
    background-color: #333;
    color: #e4e4e6;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
 }
 
 
 
 
 section#contato form button:hover {
    background-color: #1851ce;
 }
 
 
 
 
 footer {
    background-color: #eb2020;
    color: #dddbdb;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
 }
 
 
 